</main>
<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
    <ul class="social_icon">
    <li><a href="https://github.com/Tehmoi"><ion-icon name="logo-GitHub"></ion-icon></a>Github</li>
    <li><a href="https://www.linkedin.com/in/tehmoi-richards-27b740b8/"><ion-icon name="logo-linkedin"></ion-icon></a>LinkedIn</li>
  </ul>


  <ul class="menu">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a></li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>  
    <li>
      <a href="/create">Create Post</a></li>
    <li><a href="/delete">Delete Post</a></li>
    <li class="nav-item">
      <a class="nav-link" href="/Contact">Contact</a></li>
  </ul>
  <p class="copyright"> Made with ❤️ in Arizona. Made by Tehmoi</p>
  <p>Copyright © <%= new Date().getFullYear()%></p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>

</html>