<%- include("partials/header.ejs") %>

<h1>About header</h1>
<br>
<h2>This is a practice site, simulating a blog.</h2>

<p style="align-content: center;">Any titles created here will be actual files in the project. 
For instance, Any title created will result in a webpage that can be navigated to through either 
the URL or the hyperlink in the fiction, nonfiction, and fanfiction sections. Give it a try and create some pages,
as well as deleting them to clean up the local files. <br>
Creation and deletion of posts can also be found in the footer, underneath the logos. </p>
<p>to add another classification for fiction, nonfiction, and fanfiction, would require adding an id 
    to classify what is being created. This can be done through creation and editing a file. However that functionality
has not been added. </p>

<br>
<button type="button"><a href="create">Creat here</a></button> 
<button type="button"><a href="delete">delete here</a></button> 



<%- include("partials/footer.ejs") %>