<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <h1>Contact info </h1>

  <p>I can be found at several social media sites. Be sure to let me know if you want any work done! </p>
  <ul class="social_icon">
    <li><a href="https://github.com/Tehmoi"><ion-icon name="logo-GitHub"></ion-icon></a>Github</li>
    <li><a href="https://www.linkedin.com/in/tehmoi-richards-27b740b8/"><ion-icon name="logo-linkedin"></ion-icon></a>LinkedIn</li>
  </ul>

  <%- include("partials/footer.ejs") %>
</body>

</html>

